<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/updatetipo/<%= data.id_tipo %>" method="POST">
            <div class="row">
                  
                <table class="table table-bordered table-hover">
                
                        <tbody>
              
                        <tr class="table-primary">
                            <th scope="col " >TIPO DE CAMARA</th>
                            
                      </tr>
                            
                                  <tr> <td>TIPO: <div class="form-group"><input type="text" name="tipo_camara" value="<%= data.tipo_camara%>"  class="form-control" required></div></td>
                                  
                                                                     
                                </tr>
                                </tbody>
                                </table>
  
          <button type="submit" class="btn btn-success ml-auto btn-sm"><i class='far fa-save' style='font-size:24px'></i> GUARDAR</button>
          <a href="/tiponew" class="btn btn-danger float-right btn-sm "><i class='fas fa-reply' style='font-size:24px'></i> CANCELAR</a>
           
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
