<% include partials/_headerini %>
    <div class="container p-4">
        <div class="row">

    <div class="col-md-4 mx-auto">
        <div class="card text-center">
          <div class="card-header">

            
               <h3>CAMBIAR CONTRASEÑA</h3>

   <form action="/editpassword" method="POST">
    <div class="form-group">
      <input type="text" name="username" value="<%= data.username%>" class="form-control" readonly>
     </div>
    <div class="form-group">
     <input type="password" name="password" placeholder="NUEVA CONTRASEÑA" class="form-control">
    </div>
    <button class="btn btn-primary btn-block">
      CAMBIAR
    </button>
  </form>
<hr>

<p> <a href="/">Cancelar</a></p>

<p>Recuerde su contraseña</a></p>
</div>
 </div>
</div>
</div>
</div>
<% include partials/_footerini %>