<% include partials/_header_tecnico %>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>HOLA <%= user.username %></h3>
                    <h4>BIENVENIDO</h4>
                </div>
            </div>
        </div>

    </div>
</div>


<% include partials/_footer_tecnico %>