<% include partials/_header %>

<div class="container mt-7">
        <div class="col-md-16">
    
                <form action="/addposte"  name=formulario method="POST">
          <p style="text-align: center;"><h5>NUEVO POSTE</h5></p>
                <div class="row">
                  
                        <table class="table table-bordered table-hover">
                        
                                <tbody>
                      
                                <tr class="table-primary">
                                    <th scope="col " >POSTE</th>
                                    
                              </tr>
                                    
                                          <tr> <td>CLAVE POSTE: <div class="form-group"><input type="text" name="clabe_poste"  class="form-control" required></div></td>
                                             
                                            <td>CALLE PRINCIPAL: <div class="form-group"><input type="text" name="calle_principal" class="form-control"required></div></td>
                                            <td>CALLE LATERAL 1: <div class="form-group"><input type="text" name="calle_lateral1" class="form-control"required></div></td>
                                            <td>CALLE LATERAL 2: <div class="form-group"><input type="text" name="calle_lateral2" class="form-control"required></div></td>
                                         
                                                  
        
                                          </tr>
                                          <tr>
                                                
                                                
                                                      <td>COLONIA:  <div class="form-group">
                                                            <select class=" mul-select  custom-select " name="id_cat_colonia">
                                                                                                    
                                                                <% for(var i = 0; i < data.length; i++) { %> 
                                                                        <option value="<%=data[i].id_colonias %>"><%=data[i].nombre_col %></option>
                                                                        <% } %>  
                                                                                  
                                                        </select></div> </td>                   
                                                      


                                          <td>LONGITUD: <div class="form-group"><input type="tex" name="latitud" class="form-control"required></div></td>
                                          <td>LATITUD: <div class="form-group"><input type="text" name="longitud"  class="form-control" required></div></td>
                                          
                                          <td>AÑO INSTALACION: <div class="form-group"><input type="text" name="ano_instalacion"  class="form-control" required></div></td>
                                                                        </tr>
                                            
                                    
                                    
                                          
                                         
                    
                                        </tbody>
                                        </table>
            
                                        <button type="submit" class="btn btn-success ml-auto btn-sm"><i class='far fa-save' style='font-size:24px'></i> GUARDAR</button>
                                        <a href="/camaras" class="btn btn-danger btn-sm "><i class='fas fa-reply' style='font-size:24px'></i> CANCELAR</a>
                                       
        </form>
            </div>
        </div>

<% include partials/_footer %>

<script>
                $(document).ready(function(){
                    $(".mul-select").select2({
                            placeholder: "select country" //placeholder
                            
                        });
                    })
            </script>