
<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover" id="ta">
        <thead>
          <tr>
            
            <td>CIUDAD</td>
            <td>ACCIONES</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= data[i].nombre_ciudad %></td>
               
                <td>
                        <a href="/updateciudad/<%= data[i].id_ciudades %>" class="btn btn-info btn-sm" ><i class='fas fa-edit' style='font-size:15px'></i></a>
                  
                        <a href="/deleteciudad/<%= data[i].id_ciudades %>" class="btn btn-danger btn-sm"  onclick = "if (confirm('¿ESTA SEGURO DE ELIMINAR?')) commentDelete(1); return false"><i class='fas fa-trash-alt' style='font-size:15px'></i></a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">

        <form action="addciudadnew" method="POST">
                <div class="row">
                  
                        <table class="table table-bordered table-hover">
                        
                                <tbody>
                      
                                <tr class="table-primary">
                                    <th scope="col " >CIUDAD</th>
                                    
                              </tr>
                                    
                                          <tr> <td>NUEVA CIUDAD: <div class="form-group"><input type="text" name="nombre_ciudad"  class="form-control" required></div></td>
                                          
                                                                             
                                        </tr>
                                        </tbody>
                                        </table>
          
         
         
         
          <button type="submit" class="btn btn-success ml-auto btn-sm"><i class='far fa-save' style='font-size:24px'></i> GUARDAR</button>
         <a href="/ciudadnew" class="btn btn-danger float-right btn-sm "><i class='fas fa-reply' style='font-size:24px'></i> CANCELAR</a>
                                       
   
   
        </form>
</div>  
    </div>
  </div>
</div>

<% include partials/_footer %>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">

</script>

<!---jquery de la tabla --->
<script type="text/javascript">
$(document).ready( function () {
    $('#ta').DataTable({
    language: {
        search: "Buscar:",
        
        info:           "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
        infoEmpty:      "Mostrando 0 a 0 de 0 elementos",
        infoFiltered:   "(Filtrado de _MAX_ entradas totales)",
        lengthMenu:    "Mostrar _MENU_ registros",
        zeroRecords:    "No se escontraron datos",
        emptyTable:     "No hay datos disponibles en la tabla.",
        paginate: {
            first:      "Primero",
            previous:   "Previo",
            next:       "Siguiente",
            last:       "Ultimo"
        }
    }
} );
    
} );

</script>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


